@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.main{
    min-height: 100vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
  } 




.textDiv{
    position: absolute;
    top: 30%;
    left: 25%;

    height: 30vmin;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    font-family: 'Righteous', cursive;
      
        cursor: pointer;


        /* border: 1px solid firebrick; */
}




.textDiv_headline{
    height: 10vmin;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.8vmin;
    /* border: 1px solid rebeccapurple; */
}
.textDiv_headline:hover{
transition: 750ms;
    color: #1368DE;
 


}


.textDiv_mideleText{
    height: 10vmin;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.25vmin;
        /* border: 1px solid rebeccapurple; */


}

.textDiv_button{
    padding: 7px;
    height: 6vmin;
    width: 25vmin;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   font-size: 2.2vmin;
    border: 3px solid white;
    background-color: transparent;
    border-radius: 7px;


}

.apple{
    font-size: 3.3vmin;
}


.textDiv_button:hover{
       transition: 750ms;
        background-color: #1368DE;
        color: white;
        border: 0px;
   
}


@media only screen and (max-width: 992px) {


    .textDiv {
            position: absolute;
            top: 30%;
            left: 20%;
    
            height: 30vmin;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            z-index: 2;
            font-family: 'Righteous', cursive;
    
            cursor: pointer;
    
    
          
        }



}




@media only screen and (max-width: 768px) {

    .apple {
            font-size: 3.3vmin;
        }


    .textDiv {
        position: absolute;
        top: 25%;
        left: 15%;

        height: 30vmin;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        font-family: 'Righteous', cursive;

        cursor: pointer;



    }



       


  

.textDiv_button {

        padding: 7px;
        height: 6vmin;
        width: 26vmin;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.2vmin;
        border: 3px solid white;
        background-color: transparent;
        border-radius: 7px;


    }



}








@media only screen and (max-width: 600px) {

    .apple {
        font-size: 3.4vmin;
    }


    .textDiv {
        position: absolute;
        top: 35%;
        left: 15%;

        height: 30vmin;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        font-family: 'Righteous', cursive;

        cursor: pointer;



    }


         .textDiv_headline {
             height: 10vmin;
             width: 100%;
             color: white;
             display: flex;
             align-items: center;
             justify-content: space-around;
             font-size: 3.2vmin;
             /* border: 1px solid rebeccapurple; */
         }
    
    
    
         .textDiv_mideleText {
             height: 10vmin;
             width: 100%;
             color: white;
             display: flex;
             align-items: center;
             justify-content: space-around;
             font-size: 2.6vmin;
             /* border: 1px solid rebeccapurple; */
    
    
         }





    .textDiv_button {

        padding: 7px;
        height: 7vmin;
        width: 35vmin;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4vmin;
        border: 3px solid white;
        background-color: transparent;
        border-radius: 7px;


    }



}






@media only screen and (max-width: 500px) {

    .apple {
        font-size: 3.6vmin;
    }


    .textDiv {
        position: absolute;
        top: 35%;
        left: 10%;

        height: 35vmin;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        font-family: 'Righteous', cursive;

        cursor: pointer;



    }


    .textDiv_headline {
        height: 10vmin;
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 4vmin;
        /* border: 1px solid rebeccapurple; */
    }



    .textDiv_mideleText {
        height: 10vmin;
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 3.1vmin;
        /* border: 1px solid rebeccapurple; */


    }





    .textDiv_button {

        padding: 7px;
        height: 8vmin;
        width: 35vmin;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.1vmin;
        border: 3px solid white;
        background-color: transparent;
        border-radius: 7px;


    }



}

